.cube{
    width: 200px;
    height: 200px;
margin:300px auto;
    position: absolute;top: 50%;left: 50%;
}
.comprise{
    position: relative;
    transform-style:preserve-3d;

}
#cube1{
    transform:rotateY(90deg) translateZ(-100px);
    background: red;
}
#cube2{
    transform:rotateY(90deg) translateZ(100px);
    background: yellow;
}
#cube3{
    transform:rotateX(90deg) translateZ(100px);
    background: green;
}

#cube4{
    transform:rotateX(90deg) translateZ(-100px);
    background: blue;
}
#cube5{
    transform:translateZ(100px);
    background: purple;
}
#cube6{
    transform:translateZ(-100px);
    background: black;
}
@keyframes  animTo0 {
    from {
        transform: perspective(1000px) rotateY(180deg);
    }
    to {
        transform: perspective(1000px) rotateY(0deg);
    }
}
@keyframes  animTo180 {
    from{
        transform: perspective(1000px) scaleZ(180deg);
    }
    to{
        transform: perspective(1000px) rotateY(180deg);
    }
}
.comprise{
    animation:animTo0 ease infinite;
    animation-duration: 2s;
    transform-style: preserve-3d;
}

#cube4{
    animation:animTo0;
    animation-duration: 2s;
    /*transform-style: preserve-3d;*/
}
#cube2{
    animation:animTo0;
    animation-duration: 2s;
    /*transform-style: preserve-3d;*/
}
.comprise:hover {
    animation: animTo180;
    animation-duration: 2s;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
}
