#music{

}
#ly{
    width:300px;height: 20px;
    background: red;
    text-align: center;
}
#lytop{
    width:300px;height: 20px;
    background: red;
    text-align: center;
    font-Family:KaiTi;
}
#lybottom{
    width:300px;height: 20px;
    background: red;
    text-align: center;
    font-Family:KaiTi;
}